<p>
  <%= image_tag(user.fb_image_url(:large), :class => "", :style => 'padding-right:5px')%>
  <small>
  <p>
    <% if user.lineage_total > 0 %>
      <%= user.lineage_total %> Bob's Progeny
    <% end %>
  </p>
  <p>
    <% if user.bobchildren.count > 0 %>
      <%= pluralize user.bobchildren.count,  'Bobchild' %> 
    <% end %>
  </p>
  </small>
</p>
<p>
  <%= link_to name_helper(user), user_path(user) %>
</p>
