
<% if @user.has_friends? %>
  <%= render 'users/form' %>
<% else %>
  <%= render 'users/get_friends' %>  
<% end %>

<p style ="margin:50px 0">
<%= link_to "Import Friends From Facebook", 
  facebook_friends_user_path(@user) %>
</p>