
<hr>

<div class="jumbotron">
  <h1>Some Ideas Are Worth Spreading, Literally</h1>
  <h2>Explore your lineage of Bob's Donuts.  Who did you tell? Who introduced you?  Do you have distant Bob's relatives?</h2>
</div>

<hr>
